<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<form method="post">
    <label>Name
        <input th:field="${event.name}">
    </label>
    <p class="error" th:errors="${event.name}"></p>
    <label>Description
        <input th:field="${event.description}">
    </label>
    <p class="error" th:errors="${event.description}"></p>
    <label>Contact Email
        <input th:field="${event.contactEmail}">
    </label>
    <label>Event Type
        <select th:field="${event.type}">
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type.displayName}"></option>
        </select>
    </label>
    <p class="error" th:errors="${event.contactEmail}"></p>
    <input type="submit" value="Create">
</form>

</body>
</html>