<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<form method="post" th:action="@{/events/edit}">
    <input type="hidden" th:value="${event.id}" name="eventId" />
    <label>Name
        <input type="text" name="name">
    </label>
    <label>Description
        <input type="text" name="description">
    </label>
    <input type="submit" value="Edit">
</form>

</body>
</html>